body, html {
    height: 100%;
    width: 100%;
    background-color: #333232;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Varela Round;
    overflow: hidden;
}

html {
	font-size: 13px;
}

#invites {
	z-index: 2;
	position: absolute;
	background-color: #fff;
	width: 222px;
	top: 50px;
	left: 215px;
}

a {
	color: #88958D;
}

a:hover {
	color: #E3E4DB;
}

.g:hover {
	color: green;
}

.r:hover {
	color: red;
}

.text {
	display: inline-block;
	vertical-align: middle;
}

#searchUsers {
	width: 230px;	
}

.profPic {
	width: 40px;
	height: 40px;
}

#logoutForm {
	display: none;
}

#results {
	z-index: 2;
	right: 40px;
	position: absolute;
	background-color: #fff;
	width: 230px;
	top: 25px;
}

.user_info {
	display: inline-block;
	vertical-align: middle;
}

.search_result {
	border: 1px solid #CCCCCC;
	border-top: none;
}
.search_result:hover {
	background-color: #EEEEEE;
}

.user_pic {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin: 5px;
	display: inline-block;
}

.user_name {
	margin: 0px;
	font-weight: bold;
	color: #88958D;
}

.user_email {
	margin: 0px;
	font-weight: 100;
	color: #CBB8A9;
}

button {
	background-color: #CBB8A9;
	color: #F1F5F4;
	border-radius: 5px;
	border: none;
	padding: 7px 12px 7px 12px;
}

button:hover {
	background-color: #88958D;
}

#about, #team {
	padding: 8px;
	margin-top: 4vh;
	background-color: #F1F5F4;
	border: 1px solid #ccc;
	border-radius: 3px;
}

#upcoming {
	padding: 8px;
	background-color: #F1F5F4;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 3vh;
}

h3 {
	color: #F1F5F4;
	font-weight: bold;
	text-align: center;
	margin-top: 4vh;
}

h4 {
	color: #CBB8A9;
}

#left {
	display: inline-block;
	margin-left: 2vw;
}

#right {
	display: inline-block;
	vertical-align: top;
}

.us {
	margin: 3px;
}

.ourPic {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}